@charset "utf-8";
/* CSS Document */

body{background-color: blue;}

aside{background-color: yellow;
    width:1400px;
	height: 200px;
	margin: auto;
}

ul{
	margin: auto;
}

li{
float:left;
margin:auto;
padding-left:10px;
padding-right:20px;
border-right:solid yellow 5px;
}
